<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header>
    <h1 th:text="${title}">Coding Events</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/eventCategories">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories/create">Create Event</a></li>
    </ul>
</header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${eventCategory.name}" class="form-control">
        </label>
        <p class="error" th:errors="${eventCategory.name}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>